In [1]:
import pandas as pd

# 1. DataFrame yaratish
data = {
    'Ism': ['Ali', 'Wali', 'Sardar','Salim','Karim','Ilyos'],
    'Yoshi': [25, 30, 22, 40, 27, 32],
    'Shahar':['Toshkent','Fargona','Namangan','Samarqand','Buxoro','Xorazm']
}
df = pd.DataFrame(data)

# 2. Ma'lumotlarni ko'rish
print(df)

# 3. Filtrlash
young_people =df[df['Yoshi']<30]
print("30 yoshdan kichiklar:\n", young_people)

# 4. O'zgartirish
df['Yoshi'] += 1 # Har bir shaxsning yoshini 1 ga oshirish
print("Yangilangan DataFrame:\n", df)

# 5. CSV Formatda saqlash
df.to_csv('data.csv', index=False)

      Ism  Yoshi     Shahar
0     Ali     25   Toshkent
1    Wali     30    Fargona
2  Sardar     22   Namangan
3   Salim     40  Samarqand
4   Karim     27     Buxoro
5   Ilyos     32     Xorazm
30 yoshdan kichiklar:
       Ism  Yoshi    Shahar
0     Ali     25  Toshkent
2  Sardar     22  Namangan
4   Karim     27    Buxoro
Yangilangan DataFrame:
       Ism  Yoshi     Shahar
0     Ali     26   Toshkent
1    Wali     31    Fargona
2  Sardar     23   Namangan
3   Salim     41  Samarqand
4   Karim     28     Buxoro
5   Ilyos     33     Xorazm